Project/fiches.dtd

<!ELEMENT FICHES (FICHE+)>
<!ELEMENT FICHE (BE,TY,AU,Langue+)>
<!ATTLIST FICHE id CDATA #REQUIRED>
<!ELEMENT Langue (DO,SD,VE,DF,PH,NT,RF+)>
<!ATTLIST Langue id CDATA #REQUIRED>
<!ELEMENT DO (#PCDATA)>
<!ELEMENT SD (#PCDATA)>
<!ELEMENT VE (#PCDATA)>
<!ELEMENT DF (#PCDATA)>
<!ELEMENT PH (#PCDATA)>
<!ELEMENT NT (#PCDATA)>
<!ELEMENT RF (#PCDATA)>
<!ELEMENT AU (#PCDATA)>
<!ELEMENT TY (#PCDATA)>
<!ELEMENT BE (#PCDATA)>